<nav class="navbar shadow navbar-expand-lg navbar-light bg-body">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img src="https://markerspro.com/assets/images/logo-markerspro.svg" height="25" alt="MDB Logo" loading="lazy"
        style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Integrations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Templates</a>
          </li>
          <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enterprises
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class="vl"></div>
        <button type="button" class="btn btn-body px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-danger btn-lg me-3">
          Sign up for free
        </button>
        <i class="pi pi-search" style="font-size: 1.5rem"></i>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="locale">Powerful forms get it done.</h2>
    </div>
  </div>
  <div class="row">
    <p class="subtitle">We believe the right form makes all the difference. Go from busywork to less work with powerful
      forms that use conditional logic, accept payments, generate reports, and automate workflows.</p>
  </div>
</div>
<section>
  <div class="festures">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="features_images">
            <img src="https://cdn.jotfor.ms/p/homepage/homepage_2021/assets/img-min/features/customize-forms-2.svg"
              alt="">
          </div>
          <div class="fs-4">
            <div class="fw-bold features-title">
              Build the form you need in minutes
            </div>
          </div>
          <p class="features-content">Create professional-looking forms with no coding using Jotform’s online Form
            Builder. Then style your forms with your own logo, fonts, and colors.</p>
        </div>
        <div class="col-4">
          <div class="features_images">
            <img src="https://cdn.jotfor.ms/p/homepage/homepage_2021/assets/img-min/integrations-2.svg" alt="">
          </div>
          <div class="fs-4">
            <div class="fw-bold features-title">
              Integrate your form with business apps
            </div>
          </div>
          <p class="features-content">Automatically send form submissions to email marketing services, project
            management boards, CRMs, cloud storage apps, and more with Jotform’s 150+ integrations.</p>
        </div>
        <div class="col-4">
          <div class="features_images">
            <img src="https://cdn.jotfor.ms/p/homepage/homepage_2021/assets/img-min/features/payments-2.svg" alt="">
          </div>
          <div class="fs-4">
            <div class="fw-bold features-title">
              Collect online payments seamlessly
            </div>
          </div>
          <p class="features-content">Whether you’re selling a product, accepting a fee, or collecting a donation,
            Jotform allows you to get in paid directly through your form.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mt-3">
  <div class="row margin-btm-20">
    <div class="col-md-6 banner-heading inner-content">

      <h1 class="heading-1">Student Enrollment Management System Software</h1>
      <p class="banner-cont">The best student enrollment software for handling inquiries, building strong communication
        &amp; effective student record management in universities!</p>
      <p-button label="Create New Registration" [loading]="loading" loadingIcon="pi pi-bell"
        (onClick)="load()"></p-button>
    </div>
    <div class="col-md-6 margin-top-15">
      <img src="https://www.iitms.co.in/university-erp/img/Student-Enrollment-System-banner.png"
        alt="Student Enrollment Management System Software" class="img-fluid" width="1920" height="560">
    </div>
  </div>

</div>
<footer class=" text-center text-white" style="background-color: #f3f3fe;">
  <div class="text-center p-3" style="background-color: #c8ceed;">
    <div class="container">
      <div class="row">
        <div class="col-3">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <div class="col-6">
          <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
        </div>
        <div class="col-3">

          <select class="form-select select" aria-label="Default select example">
            <option selected>English</option>

          </select>
        </div>
      </div>
    </div>
  </div>
</footer>
